@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global declarations */
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  border: 2px solid red;
  font-family: 'Roboto';
}

#content {
  display: flex;
}

/* Header */
.header-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 10vh;
  border: 2px solid black;
}

.header-title {
  border: 2px solid red;
  font-size: 2rem;
}

.header-links-div {
  min-height: 2rem;
  display: flex;
  border: 2px solid red;
  gap: 10px;
}

.phone-number-div {
  border: 2px solid red;
}

.img-phone {
  height: 2rem;
}